# environment
.env
*.env
.env.*

# keys
config/secrets/*
**/secrets/*
*.key
*.pem

# local caches
__pycache__/
.cache/
*.pkl
*.bin
*.json
*.pklz
*.jsonl

# embeddings + models
intent_embeddings_cache.pkl
*.npy
*.npz
models/
models/*.zip
models/all-MiniLM-L6-v2/**


# building data
buildings_cache.json
planon_data_*.json
Alfred/
*.csv

